body {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ecebe9;
    font-size: 13px;
    color: #000;
    padding: 0;
    margin: 0;
    height: 100%;
}

.break {
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    margin: 8px 0 0 0;
    text-indent: -6.75em;
}

.hdr {
    position: absolute;
    top: 0px;
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: #2a2a2a;
    width: 100%;
    clear: both;
    border-bottom: #3a3a3a solid 1px;
    box-shadow: 0 1px 2px #666;
}

.hea {
    font-weight: bold;
}
.orig {
    color:#888;
    clear:both;
    margin-top:10px;
}
.no {
    font-weight: bold;
    color: #ff6a6a;
}

.rowa {
    background-color: #fcfcfc;
}

.rowb {
    background-color: #f7f7f7;
}

.rowa:hover, .rowb:hover {
    background-color: #FFF;
}

.unsub {
    background-color: #ff6a6a;
}

td {
    padding: 10px;
    color: #000!important;
    font-size: 16px;
    width: 100%;
}
/*td * {
   color: #000!important;
}*/

tr {
    border-top: 1px solid #CCC;
}

a {
    color: #a2b6c3;
    text-decoration: underline;
}
p {clear:both;margin-top:10px;}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    clear: both;
}

button {
    font-weight: 500;
    color: #FFF;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: #66869a;
    border-width: 0 0 3px 0;
    border-bottom-color: #5e7e93;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    width: 150px;
    height: 30px;
    vertical-align:top;
    margin: 5px 10px 0 0;
    clear: both;
    border-bottom-style: solid;
}
#urlcomp { width:180px; }
button:hover {
    background-color: #5e7e93;
    border-bottom-color: #66869a;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Raleway', Arial, sans-serif;
    color: #FFF;
}
h2 {
    margin: 10px 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    color: #666;
}
.txt {
    clear:both;
}
.txt img {
    background-color: #a2b6c3;
    max-width: 100%!important;
    max-height: none !important;
    height: auto!important;
    width: auto!important;
    display:block!important;
    visibility:visible!important;
}
.txt, .txt * {
    font-size:22px!important;
    color:#66869a!important;
    font-weight:bold!important;
}
#showing {
    text-align: right;
    color: #888;
    float: right;
}

#showall {
    float: left;
    color: #888;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

#filter {
    padding: 6px 16px 6px 6px;
    margin-top: 5px;
    width: 100px;
    background: url("filter_light.png") right no-repeat #F0F0F0;
    background-size: 17px 15px;
    border: 1px #CCC solid;
}
#compareto {
  border: 1px #CCC solid;
  background-color:#F0F0F0;
  padding: 6px;
}
#highlight {
    padding: 6px 16px 6px 6px;
    margin-top: 5px;
    width: 100px;
    background: url("highlight.png") right no-repeat #F0F0F0;
    background-size: 19px 15px;
    border: 1px #CCC solid;
    margin-left: 10px;
}

.hlt {
    background-color: #FFFF99;
}

.warn {
    font-weight: bold;
    background-color: #ff6a6a;
}
#copy {
    color:#ecebe9;
    margin: 0 auto;
    text-align:right;
    width:95%;
}
